
@import '../style/varibale';

body{
  background: #F5F5F5; 
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $colorRed;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba($color:$colorRed, $alpha: 0.8);
  }