.slick-slider {
    button:not(:disabled) {
        cursor: pointer;
        display: block !important;
    }


}

@import url('https://css.gg/arrow-left.css');

.slick-next:before {
    contain: 'gg-arrow-left ' !important;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 0 !important;
    top: 90% !important;
    right: 0px !important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    @media screen and (max-width:1429px) {
        top: 90% !important;
    }
}

.slick-prev {
    z-index: 999;
}

.slick-next {
    right: 30px !important;

}

[dir='ltr'] .slick-prev {
    right: -100px !important;
    left: 87%;

    @media screen and (max-width:1429px) {
        left: 85% !important;
    }
}

.slick-prev:before,
.slick-next:before {
    // color: white !important;
    // font-size: 26px !important;
    // border-radius: 0px !important;
    // background-color: transparent;
}

.slick-slider button:not(:disabled) {
    color: white;
}

.slick-dots {
    width: 20%;
    display: flex !important;
    justify-content: flex-end;
    bottom: 10% !important;
    right: 8.5%;
    top: 92%;
    @media screen and (max-width:1429px) {
        top: 92% !important;
        right: 10%;
        bottom: 50% !important;
    }

    @media screen and (max-width:1360px) {
        display: none !important;
    }
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 22px !important;
    height: 3px !important;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: #999999;
    // background-color: ;
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
}

@media screen and (max-width:1360px) {

    .slick-prev:before,
    .slick-next:before {

        display: none !important;
    }

    .slick-dots {

        display: none !important;
    }
}

.slick-dots li button:before {
    content: '' !important;
}

.slick-prev:before,
.slick-next:before {
    padding: 5px;
    background-color: transparent;
    position: absolute;
    left: -70px;
    border-radius: 5px !important;
    border: 2px solid;
    line-height: 2;
    
}

.sliderImage {
    height: 100vh;
    margin-top: -70px !important;

    @media screen and (max-width:1400px) {
        height: 0% !important;
        margin-top: 0px !important;
    }
}